<div id="exercises" class="nice_outer_tab" style="">
  <div id="exercises_text_header" class="nice_inner_tab_js_hover"
       onclick="toggleClass(this,'nice_inner_tab_js_hover','nice_inner_tab')">
    Alle Übungen des Muskels
  </div>
  <div id="exercises_text">
    <%= render :partial => "main/exercises_text" %>
  </div>
</div>

