
.theme_white_yellow {
    background-color: #ffffff;
    color: #000000;
}


.theme_white_yellow .nice_inner_tab {

    box-shadow: 8px 10px 26px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 8px 10px 26px rgba(0, 0, 0, 0.4) inset;
    -webkit-box-shadow: 8px 10px 26px rgba(0, 0, 0, 0.4) inset;

    background-color: #E8C535;
    margin-top: -30px;
    padding: 7px 5px 5px;
    text-align: center;
    -webkit-border-radius: 7px 7px 0px 0px;
    -khtml-border-radius: 7px 7px 0px 0px;
    -moz-border-radius: 7px 7px 0px 0px;
    border-radius: 7px 7px 0px 0px;

}

.theme_white_yellow .nice_inner_tab_js_hover {
    box-shadow: 10px 12px 26px rgba(0, 0, 0, 0.6) inset;
    -moz-box-shadow: 10px 12px 26px rgba(0, 0, 0, 0.6) inset;
    -webkit-box-shadow: 10px 12px 26px rgba(0, 0, 0, 0.6) inset;

    background-color: #E8C535;
    margin-top: -30px;
    padding: 7px 5px 5px;
    text-align: center;
   -webkit-border-radius: 7px 7px 0px 0px;
    -khtml-border-radius: 7px 7px 0px 0px;
    -moz-border-radius: 7px 7px 0px 0px;
    border-radius: 7px 7px 0px 0px;

}

.theme_white_yellow .nice_outer_tab {
    box-shadow: 0 0 31px 1px rgba(232, 197, 53, 0.6);
    -moz-box-shadow: 0 0 31px 1px rgba(232, 197, 53, 0.6);
    -webkit-box-shadow: 0 0 31px 1px rgba(232, 197, 53, 0.6);

    background-color: #555555;
}

.theme_white_yellow .nice_outer_tab:hover {
    box-shadow: 0 0 31px 7px rgba(232, 197, 53, 0.6);
    -moz-box-shadow: 0 0 31px 7px rgba(232, 197, 53, 0.6);
    -webkit-box-shadow: 0 0 31px 7px rgba(232, 197, 53, 0.6);

    background-color: #555555;
}
.theme_white_yellow #muscle_text_option {
    background-color: #ebebeb; /*fallback color*/
        background:  -moz-linear-gradient(top, #8598aa 0, #fff 17%, #fff 83%, #ebebeb 99%, #fff 100%);
        background:  -webkit-gradient(linear, left top, left bottom, color-stop(0, #8598aa), color-stop(0.17, #fff), color-stop(0.83, #fff), color-stop(0.99, #ebebeb), color-stop(1, #fff));
        padding: 10px;

}
.theme_white_yellow .muscle_text_option:hover {
    background-color: rgba(153, 255, 153, 1);
}


